[submodule "thirdparties/json"]
	path = thirdparties/json
	url = https://github.com/nlohmann/json.git
branch = master

[submodule "Engine/thirdparties/imgui"]
	path = Engine/thirdparties/imgui
	url = https://github.com/WilliamKarolDiCioccio/imgui.git
branch = master
[submodule "thirdparties/premake/android_studio"]
	path = thirdparties/premake/android_studio
	url = https://github.com/polymonster/premake-android-studio.git
