# Output directories
bin/
obj/
**/logs/**

# Intermediate files
*.obj
*.ilk
*.pch
*.tlog
*.log
*.idb
*.recipe

# Binary files
*.exe
*.dll
*.lib
*.pdb
*.exp

# Visual Studio data
.vs/
**.vcxproj.filters
**.vcxproj.user

# IntelliJ configuration files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml

# NuGet
**/packages/**

# Boost
thirdparties/boost/**